unreal/Project/Content/Showcase/Textures/Tileable/TX_Wood_Panel_01a_ALB.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Project/Content/Showcase/Textures/Tileable/TX_Wood_Panel_01a_NRM_uasset filter=lfs diff=lfs merge=lfs -text
