/Saved
/Intermediate
/.vs
/Build
/Plugins
*.sln
*_BuiltData.uasset
*.lib
*.exp
*.target

/Binaries

# Windows 패키징 결과물
*.exe
*.pdb
*.dll

/Windows

# 5.3->5.5 버전업으로 발생한 깨진 파일 (에디터를 킬때마다 자동 변경됨)
/Project/Content/StarterContent/Architecture/Floor_400x400.uasset

# 연결 서버 ip 설정용
ipconfig.txt